/* General styles
 ===================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: $text;
    font-size: 1.4rem;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Portada';
}

a {
    text-decoration: none;
    color: #000;

    &:focus {
        outline: none;
    }
}

ul,
li {
    list-style: none;
}

.container {
    max-width: 1100px;
    padding: 0 1.5rem;
    margin: 0 auto;
}


.center {
    display: flex;
    justify-content: center;
}

.text {
    color: $black;
    font-size: 1.8rem;
    line-height: 1.7;
    margin-top: 1rem;
    font-weight: 400;

    &--alt {
        color: $dark;
    }

    @media(max-width: $laptop-xl) {
        font-size: 1.6rem;
    }

    @media(max-width: $laptop-lg) {
        font-size: 1.4rem;
    }
}

.btn {
    border: none;
    font-family: $text;
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 1.2rem 2.5rem;
    font-weight: 400;
    color: $white;
    background-color: $accent;
    display: flex;
    align-items: center;
    transition: background-color .3s linear;
    justify-content: center;

    &--alt {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #FECB33;
        font-size: 4rem;
        color: #100401;
        text-transform: capitalize;
        font-style: italic;
        font-weight: 500;

        &:hover {
            background-color: darken(#FECB33, 10%) !important;
        }
    }

    img {
        margin-left: 0.7rem;
    }

    &:hover {
        cursor: pointer;
        background-color: darken($accent, 5%);
    }

    &:focus {
        outline: none;
    }

    @media(max-width: $laptop-sm) {
        font-size: 1.6rem;
    }
}

.input {
    border: 1px solid $light-gray;
    box-sizing: border-box;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-family: $text;
    width: 100%;

    @media(max-width: $laptop-xl) {
        font-size: 1.6rem;
    }

    @media(max-width: $laptop-lg) {
        font-size: 1.4rem;
    }

    &:focus {
        outline: none;
    }
}

.img-full {
    width: 100%;
    height: auto;
    display: block;
}

.huge-btn {
    background-color: $orange;
    padding: 3rem 7rem;
    font-size: 3.2rem;
    color: $white;
    text-transform: uppercase;
    border-radius: 1rem;
    text-align: center;
    box-shadow: $shadow;

    &:hover {
        cursor: pointer;
    }

    &--alert {
        background-color: $accent;
    }

    @media(max-width: $laptop-sm) {
        font-size: 2.4rem;
    }

    @media(max-width: $mobile) {
        font-size: 2rem;
        padding: 3rem 1rem;
    }

    @media(max-width: $mobile-xs) {
        font-size: 1.6rem;
    }
}

.heading-3 {
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 2rem 0;

    @media(max-width: $laptop-sm) {
        font-size: 2.4rem;
    }
}

.heading-4 {
    font-weight: 500;
    font-size: 2.2rem;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    text-transform: capitalize;
}

.heading-5 {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 1rem 0 3rem;

    img {
        margin-left: 0.7rem;
        margin-top: 0.3rem;
    }
}

.heading-6 {
    font-weight: 500;
    font-size: 1.6rem;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    text-transform: uppercase;
    margin: 2rem 0;
}

.hidden {
    overflow-y: hidden;
    height: 0;
}

.slick-dots {
    display: flex;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);

    li {
        margin-right: 1rem;


        button {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: none;
            font-size: 0;
            background-color: #E9E9E9;
            cursor: pointer;

            &:focus {
                outline: none;

            }
        }
    }
}

.slick-active {
    button {
        background-color: $orange !important;
        width: 18px !important;
        height: 18px !important;
    }
}

.timer {
    max-width: 270px;
}

.flip-clock-label {
    display: none;
}

.flip-clock-wrapper ul li a div div.inn {
    font-size: 2.2rem;
}

.flip-clock-wrapper ul {
    display: flex;
    align-items: center;

}

.flip-clock-wrapper ul li {
    line-height: 1.8;
}

.flip-clock-dot {
    width: 6px;
    height: 6px;
}

.flip-clock-divider {
    margin-top: -1.3rem;
}

.flip-clock-wrapper ul {
    width: 28px;
    height: 38px;
}

.flip-clock-dot.bottom {
    bottom: 45px;
}